@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");

/* navbar */

html {
  font-size: calc(60% + 0.6vmin);
}
body {
  background: #f9f8fd;
  font-family: "Lexend Exa", sans-serif;
}

nav {
  font-family: "Lexend Exa", sans-serif;

  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 2px solid #ebecf1;
  border-radius: 30px;
  animation: slide-in 1s ease-out;
  z-index: 999;
  background-color: rgba(30, 108, 217, 0.5);
  transition: all 0.3s ease-in-out;
}
nav:hover {
  background-color: rgba(30, 108, 217, 0.8);
}
.ul-nav {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0 30px;
  list-style-type: none;
}
.ul-nav li:not(:last-child) {
  margin-right: 40px;
}
.ul-nav li {
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  transition: background 0.2s;
  transition: all 0.3s ease-in-out;
}
.ul-nav li a {
  color: #fffafa;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.2s;
}
.ul-nav li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  margin: 12px -12px;
  padding: 0;
  background: #ffe;
  border: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
  transition: opacity 0.2s, visibility 0.2s;
}
.ul-nav li ul li {
  margin: -2px 0 0 -2px;
  width: calc(100% - 20px);
  line-height: 1.7;
  list-style: none;
}
.ul-nav li ul li a {
  color: #aaaaaa;
}
.ul-nav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  /* border: 2px solid #f05749;
  border-right: 2px solid #e02a21;
  border-bottom: 2px solid #e02a21; */
}
.ul-nav:hover a {
  color: #ffffff;
}
.ul-nav li:hover ul {
  visibility: visible;
  opacity: 1;
  box-shadow: 0px 3px 5px 2px #ebecf1;
}
.ul-nav li:hover ul li a {
  color: #949494;
}
.ul-nav li:hover ul li a:hover {
  color: #464646;
}
@keyframes slide-in {
  0% {
    top: -50px;
  }
  40% {
    top: 20px;
  }
  70% {
    top: 10px;
  }
  100% {
    top: 15px;
  }
}

.active-navbar {
  position: relative;
  position: absolute;
  position: fixed;
  z-index: 999;

  right: 0;
  margin: 2vh 2vw 0 0;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  nav {
    display: none;
  }
  .active-navbar {
    display: block;
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* end navbar  */

/* header */

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(76, 216, 255, 0.8),
      rgba(30, 108, 217, 0.8)
    ),
    url("https://images.unsplash.com/photo-1414872785488-7620d2ae7566?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");

  background-size: cover;
  background-position: top;
  position: relative;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
}

.brand-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brand {
  font-size: 20px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary-main {
  display: block;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}

.heading-primary-sub {
  display: block;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 7.4px;
}

.btn-header:link,
.btn-header:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn-header:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-header:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white-header {
  background-color: #fff;
  color: #777;
  font-size: 14px;
}

/* end header */

/* content */
.disable-scroll {
  overflow: hidden;
}

.svg-container > svg {
  position: relative;
  max-width: 100%;
  height: auto;
  left: 0;
}
.indent-text {
  text-indent: 50px;
}
.thaifont {
  font-family: "Noto Sans Thai", sans-serif;
}
.modal-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  position: absolute;
  position: fixed;
  display: flex;
  margin: 0 auto;
  /* justify-content: center;
  align-items: center; */

  display: none;
  /* padding: 10vh 10vw; */
}
.close-btn {
  width: 60px;
  height: 60px;

  position: absolute;
  z-index: 1002;

  top: 12vh;
  right: 11.7vw;
  background-color: #e0e0e0;

  border-radius: 999px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  cursor: pointer;

  transition: all 0.3s ease-in-out;

  justify-content: center;
  align-items: center;
  display: flex;
}
.closed {
  font-size: 36px;
  font-weight: bold;

  position: relative;
  bottom: 4px;

  color: #777;
}

.close-btn:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.modal-content-self {
  width: 80vw;
  height: 80vh;

  top: 10vh;
  right: 10vw;

  position: absolute;
  z-index: 1001;

  background-color: #e0e0e0;

  padding: 20px 10vw;
  overflow: auto;

  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.modal-content-self h2 {
  color: #000;
  font-size: 36px;
  text-align: center;
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: bolder;
}
.modal-content-self img {
  width: 100%;
  max-width: 800px;
  height: auto;

  display: flex;
  margin: 0 auto;
}
.modal-content-self button > a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-family: "Noto Sans Thai", sans-serif;
}

.modal-content-self button {
  display: flex;
  margin: 0 auto;
}

.responesive-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 20px;
}
.responesive-img-full {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 20px;
}

.center-div {
  display: flex;
  margin: 0 auto;
}
.center-ver {
  display: flex;
  align-items: center;
}
.header-text {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.subHeader-text {
  text-align: center;
  font-size: 16px;
  font-family: "Noto Sans Thai", sans-serif;
}
.box-info {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  font-family: "Noto Sans Thai", sans-serif;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
}
.box-info:hover {
  box-shadow: rgba(152, 46, 170, 0.4) 5px 5px, rgba(152, 46, 170, 0.3) 10px 10px,
    rgba(152, 46, 170, 0.2) 15px 15px, rgba(162, 46, 240, 0.1) 20px 20px,
    rgba(152, 46, 170, 0.05) 25px 25px;
}

.box-info2 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  font-family: "Noto Sans Thai", sans-serif;
  transition: all 0.2s ease-in-out;
  text-align: center;
  cursor: pointer;
}
.box-info2:hover {
  box-shadow: rgba(152, 46, 170, 0.4) 5px 5px, rgba(152, 46, 170, 0.3) 10px 10px,
    rgba(152, 46, 170, 0.2) 15px 15px, rgba(162, 46, 240, 0.1) 20px 20px,
    rgba(152, 46, 170, 0.05) 25px 25px;
}
.box-info-text {
  text-align: center;
  /* width: 400px; */
  position: absolute;
  display: flex;
  height: 200px;
  /* position: relative; */
  /* right: auto;
  left: auto; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}
.wrapper span {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.icon {
  width: 100px;
  /* max-width: 200px; */
  height: 100px;
  margin-bottom: 18px;
}

.desc {
  text-align: center;
  font-family: "Noto Sans Thai", sans-serif;
}

.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 3rem 6rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.button-sm {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1rem 3rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-sm::before,
.button-sm::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--anthe {
  font-family: bely-display, sans-serif;
  color: #fff;
  border-radius: 0.5rem;
  background: none;
}

.button--anthe::before {
  content: "";
  background: #000;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
  transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1),
    -webkit-clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover::before {
  background: #000;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.button--anthe span {
  display: block;
  mix-blend-mode: difference;
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.8, 1);
}

.button--anthe:hover span {
  transform: translate3d(-10px, 0, 0);
}
.button--mimas {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 0.5rem;
  overflow: hidden;
  color: #fff;
  background: #e7e7e7;
}

.button--mimas span {
  position: relative;
  mix-blend-mode: difference;
  font-weight: bold;
}

.button--mimas::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.button--mimas:hover::before {
  transform: translate3d(100%, 0, 0);
}
.button--pandora {
  background: #000;
  font-weight: 700;
  padding: 0;
  border-radius: 5px;
}

.button--pandora span {
  display: block;
  background: #a7a7a7;
  padding: 1.5rem 2rem;
  border: 1px solid #000;
  border-radius: 5px;
  transform: translate3d(-4px, -4px, 0);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.button--pandora:hover span {
  transform: translate3d(-8px, -8px, 0);
}
.pp-theme {
  background-color: #470d6d;
}
th {
  color: #fff;
}
.pull-right {
  margin: 0;
  color: #fff;
  text-align: right;
}
.edu-selecte-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: "Noto Sans Thai", sans-serif;
  align-items: center;
  padding: 0 20px;
}
.edu-selecte-ul li {
  padding: 0 10px;
  cursor: pointer;
  color: #757575;
  transition: color 0.3s ease-in-out;
}
.edu-selecte-ul li:hover {
  color: #000;
  text-decoration: underline;
}
@media only screen and (max-width: 850px) {
  .edu-selecte-ul {
    flex-direction: column;
  }
}
.box-content:first-child {
  display: block;
}
.box-content {
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 40px 30px;
  display: none;
}
.Provice-2-cmu {
  max-width: 1300px;
  width: 100%;
  height: auto;

  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.box-content2 {
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 40px 30px;
}
.box-content2 h3 {
  text-align: center;
}
.box-content2 p {
  text-align: center;
}
.tem-img {
  max-width: 400px;
  width: 100%;
  height: auto;

  border-radius: 15px;
  margin: 15px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 6px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper2 {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wrapper2 .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 9px;
  margin: 18px;
  width: 50px;
  height: 50px;
  font-size: 18px;

  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media screen and (max-width: 500px) {
  .wrapper2 .icon {
    margin: 7px;
  }
}

.wrapper2 .tooltip {
  position: absolute;
  top: 0;
  /* left: 0; */
  font-size: 18px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper2 .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper2 .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper2 .icon:hover span,
.wrapper2 .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper2 .facebook:hover,
.wrapper2 .facebook:hover .tooltip,
.wrapper2 .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper2 .twitter:hover,
.wrapper2 .twitter:hover .tooltip,
.wrapper2 .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper2 .line:hover,
.wrapper2 .line:hover .tooltip,
.wrapper2 .line:hover .tooltip::before {
  background-color: #3ace01;
  color: #ffffff;
}

.wrapper2 .map:hover,
.wrapper2 .map:hover .tooltip,
.wrapper2 .map:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper2 .phone:hover,
.wrapper2 .phone:hover .tooltip,
.wrapper2 .phone:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
.footer {
  background-color: #002233;
}

.footer-content h4 {
  font-size: 1.3rem;
  color: hsl(0, 0%, 80%);
  font-family: "IBM Plex Sans Thai", sans-serif;
}
.footer-content p {
  font-size: 0.8rem;
  color: hsl(0, 0%, 60%);
  margin-bottom: 0;
  font-family: "IBM Plex Sans Thai", sans-serif;
}
.img-content-footer {
  width: 100%;
  max-width: 370px;
  height: auto;
}
